{% extends 'irrigation/base.html' %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">Contact Us</h1>

<div class="bg-white p-4 rounded shadow">
    <h2 class="text-2xl font-bold mb-2">Social Media</h2>
    <ul class="mb-4">
        <li>
            <a href="https://www.facebook.com/magnus.morris.79" target="_blank" class="flex items-center">
                <i class="fab fa-facebook mr-2"></i> Facebook
            </a>
        </li>
        <li>
            <a href="https://x.com/NduwayoMorris" target="_blank" class="flex items-center">
                <i class="fab fa-twitter mr-2"></i> Twitter
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/nduwayo-morris" target="_blank" class="flex items-center">
                <i class="fab fa-linkedin mr-2"></i> LinkedIn
            </a>
        </li>
        <li>
            <a href="https://wa.me/+256780443345" target="_blank" class="flex items-center">
                <i class="fab fa-whatsapp mr-2"></i> WhatsApp
            </a>
        </li>
    </ul>

    <h2 class="text-2xl font-bold mb-2">Contact Information</h2>
    <p>Email: nduwayomorris@gmail.com</p>
    <p>Phone: +256780443345</p>
    <p>Address: Kyebando roundabout, Kampala City, Uganda</p>
</div>
{% endblock %}